.row {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0.4rem;
    margin-top: 4vh;
}

.overflow {
    overflow-wrap: break-word;
    white-space: pre-line;
}

.footer {
    background-color: white;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 600px;
}
