.dropdown-toggle::after{
    color: #868e96;
}

#dropdown-links{
    color: #868e96;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: white !important;
    color: #343a40 !important;
}

