.container {
  margin-top: 5vh;
}

.row {
  align-items: center;
  justify-content: center;
}

.profileRow {
  margin-bottom: 0.2rem;
  align-items: end;
  justify-content: end;
}

.navLink {
  font-size: 20px;
  outline: none;
  color: #868e96 !important;
}

.navItem:hover {
  background-color: #73a839 !important;
  color: white !important;
}

#dropdown-links {
  color: #868e96 !important;
}

.image {
  outline: none;
}

.toast {
  background: #73a839 !important;
}

.tabHeading {
  color: #868e96;
}

.tab {
  width: 95%;
}

.text {
  color: #868e96 !important;
}
