.container {
    margin-top: 5vh;
}

.row {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0.4rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 600px;
}
