.container {
  height: 100vh;
  max-width: 100vh;
  backdrop-filter: blur(3px);
}

.formRow {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form {
  width: 25vw;
  align-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  min-height: 13.5vh;
  margin-bottom: 0 !important;
}

.regInput {
  display: flex;
  flex-direction: column;
  min-height: 13.5vh;
  margin-bottom: 0 !important;
}

.label {
  color: #f95f6b;
}

.inputColumn {
  background-color: #ffffff;
}

.link {
  margin-left: 0.5vw;
}

.submitButton {
  width: 100%;
  height: 40px;
}

.secondaryText {
  color: dimgrey;
}

.signUp {
  margin-top: 1vw;
  justify-content: center;
}

.sectionStyle {
  background-image: url("../pics/psih2.jpg");
  background-blend-mode: luminosity;
  z-index: -1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background: cover;
}

.signIn {
  margin-top: 1vw;
  justify-content: center;
}
