.container {
    margin-top: 5vh;
    width: 80% !important;
}

.row {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0.4rem;
}

.formRow {
    padding-left: 0 !important;
    align-items: start;
    justify-content: start;
}

.form {
    align-items: center;
    justify-content: center;
}

.right {
    align-items: end;
    justify-content: end;
}

.input {
    font-size: 14px;
    width: 60% !important;
}

.fs {
    font-size: 9px !important;
}

.noOutline {
    outline: none;
}

.popover {
    max-width: none;
}

.inputDropdown {
    font-size: 14px;
    width: 90% !important;
}

.dropdown {
    margin-top: 2px;
    margin-left: 15px;
    width: 200%;
}

.bgGrad {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(233,236,239,1) 100%);
}
