.container {
  height: 100vh;
}

.row {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form {
  width: 25vw;
}

.input {
  display: flex;
  flex-direction: column;
  min-height: 13.5vh;
  margin-bottom: 0.1vh;
}

.label {
  color: #f95f6b;
}

.link {
  margin-left: 0.5vw;
}

.submitButton {
  margin-top: 0.1rem;
  width: 100%;
  height: 40px;
}

.secondaryText {
  color: dimgrey;
}

