.container {
  margin-top: 5vh;
  width: 80% !important;
}

.row {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 0.4rem;
}

.overflow {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.taskText {
  align-items: center;
  justify-content: center;
}

.formRow {
  padding-left: 0 !important;
  align-items: start;
  justify-content: start;
}

.form {
  align-items: center;
  justify-content: center;
}

.right {
  align-items: end;
  justify-content: end;
}

.input {
  font-size: 14px;
  width: 60% !important;
}

.fs {
  font-size: 9px !important;
}

.noOutline{
  outline: none;
}

